


@font-face {
    font-family: 'PP Neue Montreal';
    src: url('PPNeueMontreal-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}


@font-face {
    font-family: 'PP Neue Montreal';
    src: url('PPNeueMontreal-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'PP Neue Montreal';
    src: url('PPNeueMontreal-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
}


@font-face {
    font-family: 'PP Neue Montreal';
    src: url('PPNeueMontreal-SemiBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'PP Neue Montreal';
    src: url('PPNeueMontreal-SemiBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

